.dropdown, .btn, .typography-line, .z-1 {
	z-index: 2;
}

.dropdown, .btn-go {margin: 0.2em;}

.beraca-container {
	margin-top: -20vh;
}
.container-page {
	margin-top: 70vh;
}
.beraca-container .typography-line {
	padding-left: 0px;

}
.justify-content {
	justify-content: center;
}

.page-header {
	max-height: none;
  background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.product_name{
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.plus_div a{
  float: right;
  color: white;
  font-size: 2em;
}

.descriptions_block {
	    max-height: none;
    overflow-y: hidden;
}

.navbar-brand {
  width: 60%;
}

.logo-img {
  width: 90%;
}

.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
  color: #66615B;
}

.desciption_text {
    font-size: 1.2em;
    font-weight: 400;
}

.heavy {
    font-weight: 400 !important;
}

h4, .h4 {
    line-height: 1.8em;
}

.section, .navbar {
    background-color: #f8f9fa;
}