.first_row{
    border-top: 2px solid rgba(255, 255, 255, 0.11);
    padding: 60px 0px 10px 0px;
    margin-top: 40px;
}
.title_text{
    font-weight: 500;
}
.main_value{
    font-weight: 500;
    padding-bottom: 20px;
}
.comunity_text{
    font-size: 12px;
}
.comunity_name{
    font-size: 18px;
}
.product_name{
    font-weight: 500;
}
.product_value{
    font-size: 12px;
}
.outer_product{
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
    display: flex;
    padding-bottom: 7px;
}
.product_div{
    min-width: 270px;
}
.plus_div{
    float: right;
    color: white;
    font-size: 32px;
}
.descriptions_block{
    max-height: 30em;
    overflow-y: scroll;
}
.objective_div{
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.desciption_text{
    font-size: 12px;
}
.btn-interest{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

/* Coisas que tem no SEOClasses */

.mt-80{
    margin-top: 80px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-30{
    margin-left: 30px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 100px;
}
.ph-30{
    padding-left: 30px;
    padding-right: 30px;
}

/* CUSTOM SETTINGS */

.section, .navbar {
  background-color: #f5e3f5;
}
.s01 img, .s02 img, .s03 img {
  width: 3em;
}
.s04 img {
  width: 2em;
}
.s04 {
  text-align: center;
}
.s05 img {
  width: 15em;
}
.s05 {
  position: absolute;
  right: -1em;
  top: 1em;
}
=======
.flex{
    display: flex;
}

.ft-w-500{ font-weight: 500 !important; }

.title {
  font-size: 2em;
}
