/* background urls */
.login-background{
    background: url("../img/login-image.jpg");
}
.landing-background{
    background-image: url('../img/daniel-ola.jpg');
}
.profile-upper-background{
    background-image: url('../img/fabio-mangione.jpg');
}