/* background urls */
.login-background{
    background: url("../img/login-image.jpg");
}
.landing-background{
    background-image: url('../img/daniel-ola.jpg');
}
.profile-upper-background{
    background-image: url('../img/fabio-mangione.jpg');
}
.search-background{
    background-image: url('../img/search-image.jpg');
}
.value-search-background{
  background-image: url('../img/Comunidade Jobim-4.jpg');
}
.confirmedInterest-background{
  background-image: url('../img/devlocal.jpg');
}

/**/
h1,h2,h3,h4,h5,h6,p,small,label{
  color: white;
}

/* Plug-Ins Styles */
input::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.6);}
input::-moz-placeholder{color: rgba(0, 0, 0, 0.6);}

.react-autosuggest__container {
    position: relative;
    width: 100%;
}
  
.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-left: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #66615b;
}

.react-autosuggest__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(210, 210, 210, 0.6);
}
.react-autosuggest__input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(210, 210, 210, 0.6);
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
  z-index: 9999;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 200px;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #66615b;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(102, 92, 141, 0.75);
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(49, 27, 146, 0.75);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(49, 27, 146, 0.75);
}
.carousel{margin: 20px 0px;}
.carousel-inner .carousel-item img{ height: auto !important;}


input[type=checkbox] {
	visibility: hidden;
}
.checkboxFive {
	width: 25px;
	margin: 28px 0px;
	position: relative;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  left: 0;
	background: #eee;
  border:1px solid #000;
  border-radius: 6px;
}
.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 11px;
	height: 7px;
	background: transparent;
	top: 7px;
	left: 6px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
	opacity: 0;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* General Style */
.terms_div{
  display: flex;
  margin-left: 4px;
}
.search-btn{
  max-width:140px;
}
.icon_profile{
  font-size: 18px;
  margin: 2px 8px 0px 0px !important;
}

.repart_title{
  font-weight: 500 !important;
  margin: 6px 10px 0px 15px !important;
  font-size: 18px;
}

.result_text{
  color: white;
  text-align: center;
}

.mark_icon{
  position: relative;
  top: 10px;
  font-size: 38px;
}

#map { 
  position:relative; 
  top: inherit; 
  width: 100%; 
  height: 60vh;
}
.title_text{
  font-weight: 500;
}
.main_value{
  font-weight: 500;
}
.comunity_text{
  font-size: 12px;
}
.comunity_name{
  font-size: 18px;
}
.product_name{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 5px;
  color: #fff;
}
.product_value{
  font-size: 12px;
}
.outer_product{
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  padding-bottom: 7px;
  justify-content: space-between;
}
.product_div{
  min-width: 260px;
}
.plus_div{
  margin-right: 20px;
}
.plus_div a{
  float: right;
  color: white;
  font-size: 32px;
}
.value_text{
  font-size: 12px;
}
.descriptions_block{
  max-height: 30em;
  overflow-y: scroll;
}
.objective_div{
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 95%;
}
.objective_div h3{
  min-width: 27px;
}
.objective_div div h4{
  font-weight: 400;
}
.desciption_text{
  font-size: 12px;
  font-weight: 500;
}
.carousel_div{
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 95%;
}
.carousel_div h3{
  min-width: 27px;
}
.carousel_div div h4{
  font-weight: 400;
}
.btn-interest{
  width: 270px;
  margin: 0 auto;
  margin-top: 5px;
}
.notification_div{
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
}
.notification_div p{
  padding-top: 5px;
}
.check{
  font-size: 36px;
  color: #50d2c2;
}
.modal-body p{
  color:#000;
}
.modal-footer{
  border-top: 0px;
  padding: 15px;
}
.terms-text{
  white-space: inherit;
}
.checkbox{
  height: 24px;
  width: 24px;
}
.fab_row{
  justify-content: flex-end;
}
.fab_div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 28px;
  background: #e91e63;
  float: right;
  margin: 10px 1em 10px 0px;
}
.fab_text{
  font-size: 24px;
  font-weight: 500;
  margin-top: 5px;
}

/* COLORS */

.resume {
  color: black;
  font-size: 1.3em;
}

/* CUSTOM SETTINGS SCROLLREVEALL STYLE */

.section, .navbar {
  background-color: #f5e3f5;
}
.s01 img, .s02 img, .s03 img {
  width: 3em;
}
.scene-city img {
  position: relative;
  top: -17em;
}
.scene-background-purple {
  height: 100%;
  position: relative;
  top: -15em;
  height: 0em;
}
.scene-background-blue {
  height: 100%;
  position: relative;
  top: -15em;
  height: 0em;
}
.scene-background-darkblue {
  height: 100%;
  position: relative;
  height: 0em;
}
.scene-background-violet {
  height: 100%;
  position: relative;
  top: -15em;
  height: 0em;
}
.scene-background-rose {
  height: 100%;
  position: relative;
  top: -13em;
  height: 0em;
  margin-bottom: -10em;
}
.scene-entrepreneur {
  display: inline;
  position: absolute;
  top: -20em;
  right: 3em;
  z-index: 1;
}
.scene-entrepreneur img {
  width: 8em;
}
.scene-genetic {
  position: relative;
  top: -14em;
  width: 13em;
}
.scene-world {
  position: relative;
  z-index: 1;
  top: -5em;
}
.scene-world-trace-1 {
  position: relative;
  top: -14em;
  right: -9em;
  width: 13em;
  z-index: 1;
}
.scene-world-trace-2 {
  position: relative;
  top: -20em;
  right: -8.5em;
  width: 4em;
  z-index: 1;
}
.scene-world-trace-3 {
  position: relative;
  top: -26em;
  right: -3.5em;
  width: 5em;
  z-index: 1;
}


.scene-text-reparte-1 {
  position: relative;
  top: -8em;
}
.scene-text-reparte-2 {
  position: relative;
  top: -20em;
}
.scene-text-reparte-3 {
  position: relative;
  top: -20em;
  z-index: 2;
}
.scene-text-reparte-4 {
  position: relative;
  z-index: 2;
  top: -5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.scene-text-reparte-5 {
  position: relative;
  z-index: 2;
  top: -6em;
  margin-bottom: 2em;
}
.scene-text-reparte-6 {
  position: relative;
  z-index: 2;
  top: -6em;
  margin-bottom: 2em;
}
.scene-text-reparte-7, .scene-text-reparte-8, .scene-text-reparte-9, .scene-text-reparte-10, .scene-text-reparte-11, .scene-text-reparte-12, .scene-text-reparte-13, .scene-text-reparte-14, .scene-text-reparte-15 {
  position: relative;
}
.scene-text-reparte-7 img, .scene-text-reparte-8 img, .scene-text-reparte-9 img, .scene-text-reparte-10 img, .scene-text-reparte-11 img, .scene-text-reparte-12 img, .scene-text-reparte-13 img, .scene-text-reparte-14 img, .scene-text-reparte-15 img {
  width: 3em;
}
.scene-ibcommunity-states {
  position: relative;
  top: -12em;
  z-index: 2;
}
.scene-ibcommunity-states img {
  width: 6em;
}
.scene-ibcommunity-states span {
  margin-left: 4em;
}
.scene-ibcommunity-communities {
  position: relative;
  top: -14.7em;
  z-index: 1;
}
.scene-ibcommunity-communities img {
  width: 14em;
}
.scene-ibcommunity-families {
  position: relative;
  top: -19.7em;
  z-index: 0;
}
.scene-ibcommunity-families img {
  width: 18em;
}
/* END SCROLL STYLE */

.flex{
    display: flex;
}

.ft-w-500{ font-weight: 500 !important; }

.title {
  font-size: 2em;
}

.title-big {
  font-size: 3em;
}

.subtitle {
  font-size: 1.5em;
  line-height: 2em;
}

.bg-repartebr {
  background-color: rgb(148, 116, 206);
}

.bg-groups {
  background-color: #311b92;
}
.bg-projects {
  background-color: #673ab7;
}
.bg-invest {
  background-color: #673ab7;
}

.avatar-people {
  position: relative;
  top: -5.3em;
}

.avatar-people img {
  width: 8em;
}
.avatar-people img.avatar-big {
  width: 10em;
}

.scene-eolic {
  position: relative;
  top: 0em;
  left: 10em;
  width: 20em;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
    /* Firefox */
  -moz-transition: all 1s ease;

  /* WebKit */
  -webkit-transition: all 1s ease;
  /* Opera */
  -o-transition: all 1s ease;
  /* Standard */
  transition: all 1s ease;
}

.scene-cloud img {
  position: relative;
  top: -10em;
  left: 0em;
  width: 10em;
  margin-left: 3em;
}

.scene-ground-middle {
  position: relative;
  top: -27.2em;
  left: -2em;
}
.scene-ground-top {
  position: relative;
  top: -17em;
  left: -2em;
  width: 30em;
}

.scene-ground-base {
  position: relative;
  left: -5em;
  top: -34.3em;
  margin-bottom: -26em;
}
.scene-ground-plants {
  position: relative;
  left: -2em;
  top: -7em;
}
.scene-ground-tree {
  position: relative;
  left: -2em;
}

.scene-itens {
  margin-top: -15em;
}
.scene-itens img.scene-ground-tree {
  width: 10em;
  top: 8em;
  transform: rotate(-16deg);
}
.scene-itens img.scene-ground-solar {
  width: 10em;
  position: relative;
  top: 13em;
}

.scene-windmill {
  position: relative;
}
.scene-windmill img {
  width: 6em;
  position: relative;
  left: 18em;
}
.scene-windmill-an {
  position: relative;
  z-index: 1;
}
.scene-windmill-an img {
  width: 6em;
  position: relative;
  left: 22em;
  top: 1em;
  z-index: 3;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.scene-how-it-works {
  position: relative;
  top: -4em;
}

.scene-investment {
  position: relative;
}

.scene-investment img {
  width: 19em;
}
