/* background urls */
.login-background{
    background: url("../img/login-image.jpg");
}
.landing-background{
    background-image: url('../img/daniel-ola.jpg');
}
.profile-upper-background{
    background-image: url('../img/fabio-mangione.jpg');
}
.search-background{
    background-image: url('../img/search-image.jpg');
}
.value-search-background{
  background-image: url('../img/Comunidade Jobim-4.jpg');
}
.confirmedInterest-background{
  background-image: url('../img/devlocal.jpg');
}

/**/
h1,h2,h3,h4,h5,h6,p,small,label{
  color: white;
}

input::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.6);}
input::-moz-placeholder{color: rgba(0, 0, 0, 0.6);}

.react-autosuggest__container {
    position: relative;
    width: 100%;
}
  
.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-left: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #66615b;
}

.react-autosuggest__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(210, 210, 210, 0.6);
}
.react-autosuggest__input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(210, 210, 210, 0.6);
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  z-index: 9999;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 200px;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #66615b;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(102, 92, 141, 0.75);
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(49, 27, 146, 0.75);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(49, 27, 146, 0.75);
}
.carousel{margin: 20px 0px;}
.carousel-inner .carousel-item img{ height: auto !important;}

.search-btn{
  max-width:140px;
}

.icon_profile{
  font-size: 18px;
  margin: 2px 8px 0px 0px !important;
}

.repart_title{
  font-weight: 500 !important;
  margin: 6px 10px 0px 15px !important;
  font-size: 18px;
}

.result_text{
  color: white;
  text-align: center;
}

.mark_icon{
  position: relative;
  top: 10px;
  font-size: 38px;
}

#map { 
  position:relative; 
  top: inherit; 
  width: 100%; 
  height: 60vh;
}

.first_row{
  /*border-top: 2px solid rgba(255, 255, 255, 0.4);*/
}
.title_text{
  font-weight: 500;
}
.main_value{
  font-weight: 500;
}
.comunity_text{
  font-size: 12px;
}
.comunity_name{
  font-size: 18px;
}
.product_name{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 5px;
  color: #fff;
}
.product_value{
  font-size: 12px;
}
.outer_product{
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  padding-bottom: 7px;
  justify-content: space-between;
}
.product_div{
  min-width: 260px;
}
.plus_div{
  margin-right: 20px;
}
.plus_div a{
  float: right;
  color: white;
  font-size: 32px;
}
.value_text{
  font-size: 12px;
}
.descriptions_block{
  max-height: 30em;
  overflow-y: scroll;
}
.objective_div{
  border-bottom: 2px solid rgba(255, 255, 255, 0.11);
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.desciption_text{
  font-size: 12px;
  font-weight: 500;
}
.btn-interest{
  width: 270px;
  margin: 0 auto;
  margin-top: 5px;
}
.notification_div{
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0px;
}
.check{
  font-size: 36px;
  color: #50d2c2;
  padding-top:15px;
}
.modal-body p{
  color:#000;
}
.modal-footer{
  border-top: 0px;
  padding: 15px;
}
.terms-text{
  white-space: inherit;
}
.checkbox{
  height: 24px;
  width: 24px;
}